@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

:root {
  --header-height: 3rem;

  /* COLORS */
  --hue-color: 190;
  --due-color: 206;
  /* hsl color mode */
  /* --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%); */
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --text-gradient: linear-gradient(hsl(var(--due-color), 4%, 24%), hsl(var(--due-color), 4%, 8%));
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

}





@media screen and(min-width:968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    ---smaller-font-size: .813rem;
  }
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

p {
  font-size: 18px;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.section_subtitle {
  display: block;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  text-align: center;
  font-weight: (var(--h2-font-size));
}

/* 
.section_title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: #E9CC44;
} */


.grid {
  display: grid;
  gap: 1.5rem;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
  background-color: transparent;
  left: 1.5rem;
  right: 1.5rem;
  width: auto;
  overflow: hidden;
  max-width: 100vw;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: rgb(8, 8, 8);
  z-index: 10;
}

.nav_logo,
.nav_toggle {
  color: white;
}

.nav_logo {
  font-weight: var(--font-semi-bold);
}

.logo {
  height: 120px;
}

.nav_toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_menu {
  position: relative;
}

@media screen and (max-width:767px) {
  .nav_menu {
    position: fixed;
    background-color: rgb(8, 8, 8);
    color: white;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsl(var(--hue-color), 64%, 15%, .15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link {
  color: white;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav_link:hover {
  color: #046c2d;
}

.nav_close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.show-menu {
  right: 0;
}

/* Active link */
.active-link {
  position: relative;
  color: white;
}

.active-link::before {
  content: '';
  position: absolute;
  background-color: #f1b24a;
  width: 100%;
  height: 2px;
  bottom: -.75rem;
  left: 0;
}

/* INTROANIMATION */

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 100;
}

.block {
  flex: 1;
  background-color: rgb(8, 8, 8);
  border-right: 1px solid#ffffff;
  ;
  transition: border 0.5s ease-in-out;
  height: 100vh;
}

.block.small {
  flex: none;
  width: 1.25rem;
}

.block.middle {
  flex: none;
  width: calc((100% - 2.5rem) / 3);
}





/* HOME SECTION */

.home_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  object-position: 83%;
  background: #046c2d;
}

.home_container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home_data-subtitle,
.home_data-title,
.home_social-link,
.home_info {
  color: #FFF;
}

.home_data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
  font-size: 19px;
}


.home_data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home_social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.home_social-link {
  font-size: 1.4rem;
  width: max-content;
}

.home_info {
  /* background-color: #f1b24a; */
  background-color: #f1b24a;
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}

.home_info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home_info-button {
  font-size: var(---smaller-font-size);
}

.home_info-overlay {
  overflow: var(--img-hidden);
}

.home_info-img {
  width: 145px;
  transition: var(--img-transition);
}

.home_info-img:hover {
  transform: var(--img-scale);
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



/* BUTTONS */

.button {
  display: inline-block;
  background-color: #f1b24a;
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  border: none;
}

.button:hover {
  background-color: #E9CC44;
}

.button_flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button_link {
  background-color: none;
  padding: 0;
}

.button_link:hover {
  background: none;
}











/* SOCIALPROOF */

.social_proof {
  /* position: relative; */
  margin-bottom: 600px;
}

.social_proof-data {
  text-align: center;
  /* margin-top: 20px; */
  line-height: 1.5;
  margin-bottom: 50px;
}


.testimonial-card {
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
  max-width: 400px;
}


.main-card {
  display: flex;
  align-items: center;
  gap: 20px;
  left: 40%;
  top: 195%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: #73AC8C;
  color: white;
}

/* .client-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
} */

.testimonial-content h3 {
  margin-bottom: 10px;
  /* margin: 0; */
  font-size: 1.5rem;
}


.stars {
  color: #E9CC44;
  margin-top: 10px;
}

/* Smaller Cards */
.small-card {
  padding: 16px;
  font-size: 0.9rem;
}

.top-left {
  top: 174%;
  left: 15%;
  z-index: 2;
  width: 60%;

}

.bottom-right {
  bottom: -100%;
  right: 7%;
  z-index: 4;
  background-color: #E9CC44;
  color: white;
  width: 35%;
}

/* Stats Card */
.stat-card {
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #E9CC44, #73AC8C);
  color: white;
  font-weight: bold;
}

.number {
  top: 225%;
  right: 5%;
  z-index: 5;
}

.stat-card:last-of-type {
  bottom: -75%;
  left: 5%;
  z-index: 5;
}

.scale:hover {
  transform: scale(1.1);
}

/* @media (max-width : 435px) {
  .social_proof {
    margin-bottom: 700px;
  }
}  */

@media (max-width : 375px) {

  .stat-card:last-of-type {
    bottom: -120%;
    left: 10%;
    z-index: 4;
    width: 30%;
  }

  .number {
    top: 270%;
    right: 15%;
    z-index: 5;
    width: 30%;
  }


  .top-left {
    top: 218%;
    left: 15%;
    z-index: 2;
    width: 50%;

  }

  .bottom-right {
    bottom: -150%;
    right: 7%;
    z-index: 4;
    width: 40%;
    background-color: #E9CC44;
    color: white;
    width: 35%;
  }

  .main-card {
    display: flex;
    align-items: center;
    gap: 20px;
    left: 40%;
    top: 240%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: #73AC8C;
    color: white;
    width: 70%;
  }

}

@media (min-width: 576px) and (max-width : 767px) {

  .stat-card:last-of-type {
    bottom: -90%;
    left: 10%;
    z-index: 0;
    width: 30%;
  }

  .number {
    top: 230%;
    right: 15%;
    z-index: 5;
    width: 30%;
  }


  .top-left {
    top: 190%;
    left: 15%;
    z-index: 2;
    width: 50%;

  }

  .bottom-right {
    bottom: -110%;
    right: 7%;
    z-index: 4;
    background-color: #E9CC44;
    color: white;
    width: 40%;
  }

  .main-card {
    display: flex;
    align-items: center;
    gap: 20px;
    left: 40%;
    top: 210%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: #73AC8C;
    color: white;
    width: 70%;
  }

}






/* ABOUT */

.about_section {
  position: relative;
  z-index: 1;
}

.about_data {
  text-align: center;
}

.about_container {
  row-gap: 2.5rem;
}

.about_description {
  margin-bottom: var(--mb-2);
}

.about_img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about_img-overlay {
  overflow: hidden;
}

.about_img-one {
  width: 190px;
}

.about_img-two {
  width: 260px;
}

.about_img-one,
.about_img-two {
  transition: var(--img-transition);
}

.about_img-one:hover,
.about_img-two:hover {
  transform: var(--img-scale);
}

/* SERVICES */


.cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  /* 
 */
  color: white;
  background: linear-gradient(135deg, #E9CC44, #73AC8C);
  padding: 20px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-align: center;
}

.card_description {
  margin-bottom: 10px;
}

.card h2 {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


.service_icon {
  font-size: 40px;
  color: #046c2d;
  margin-bottom: 10px;
}

.hidden_card {
  /* display: none; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.show {
  display: block;
}

.servicesButton_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.services_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: transparent;
  border: 2px solid #046c2d;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.services_btn::before {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background: #73AC8C;
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
  z-index: 0;
}

.services_btn span,
.services_btn .services_arrow {
  position: relative;
  z-index: 2;
}

.services_arrow {
  /* position: relative; */
  background: transparent;
  color: white;
  font-size: 18px;
  /* padding: 8px 12px; */
  border-radius: 50%;
  /* z-index: 2; */
}


.services_btn:hover::before {
  width: 100%;
}

.services_btn:hover {
  color: rgb(255, 255, 255);
}

.services_btn:hover .services_arrow {
  color: rgb(255, 255, 255);
}

.spiral-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Ensures it doesn’t block user interaction */
  overflow: hidden;
  z-index: -1;
  /* Keeps it in the background */
}

.spiral-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  opacity: 0.7;
}


/* CHOOSE US  */


.chooseUs_section {
  text-align: center;
  background-color: #E9CC44;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chooseUs_section h1 {
  color: black;
}

.feature-box {
  margin-bottom: 50px;
  padding: 20px;
  /* background-color: aqua; */
}

.feature-icon {
  width: 220px;
  /* Adjust icon size */
  margin-bottom: 10px;
  height: auto;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  color: #046c2d;
}

.feature-description {
  font-size: 18px;
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
}


.wave-top,
.wave-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
}

@keyframes waveMove {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.wave-top path {
  animation: waveMove 0.5s infinite ease-in-out;
}

.wave-bottom path {
  animation: waveMove 0.5s infinite ease-in-out;
}

.wave-top {
  bottom: 35px;
  transform: scaleY(-1);
  left: 0;
}

.wave-bottom {
  bottom: -35px;
  transform: scaleY(-1);
}

.wave_container {
  position: relative;
  height: auto;
  width: 100%;
}






/* PORTFOLIO SECTION */

.portfolio_section {
  text-align: center;
  margin: auto;
  max-width: 650px;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  text-align: center;
}

.slide:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.icons {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.icon {
  font-size: 20px;
  background: white;
  color: black;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slide-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 5px;
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  /* border-radius: 50%; */
}

.left {
  left: 3px;
}

.right {
  right: 3px;
}

.view-button {
  border-radius: 5px;
  margin-top: 30px;
}



/* RISK SECTION */

.risk-section {
  /* background: #046c2d; */
  color: black;
  text-align: center;
}

.risk_title-container {
  background: linear-gradient(135deg, #73AC8C, #046c2d);
  background-color: #046c2d;
  padding: 50px;
  border-radius: 0px 60px 60px 0px;
  text-align: center;
  width: 90%;
  margin-bottom: 50px;
  margin: 0 auto;
}

.risk_title {
  color: white;
}

.intro-text {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1.1rem;
  margin-top: 20px;
}


.risks-container {
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.risk-card {
  position: relative;
  background: white;
  padding: 30px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.risk-card h3 {
  color: #046c2d;
  margin-bottom: 10px;
  font-weight: 600;
}

.accordion {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


.dropdown-btn {
  margin-left: 10px;
}

.cta-btn {
  margin-right: 10px;
}

.dropdown-btn:hover {
  background: #f1b24a;
}

/* CTA Buttons */
.cta_container {
  margin-top: 30px;
  gap: 15px;
  display: flex;
  justify-content: center;
}


.cta-btn,
.dropdown-btn {
  background: #046c2d;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;

}

/* 
.cta-btn{
  background-color: #046c2d;
  color: #f1b24a;
} */

.cta-btn:hover {
  background: #f1b24a;
}

.corner {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.service_topLeft {
  top: 0;
  left: 0;
  border-top: 7px solid #046c2d;
  border-left: 7px solid #046c2d;
}

.service_bottomRight {
  bottom: 0;
  right: 0;
  border-right: 6px solid #046c2d;
  border-bottom: 6px solid #046c2d;
}










/* FAQS SECTION */


.faq-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
  background-color: rgba(230, 230, 230, 0.26);
}



.faq_arrow {
  background-color: #f1b24a;
  border-radius: 50%;
  color: #FFF;
}

.faq_title {
  color: #FFF;
  font-weight: 900;
}

.top_banner {
  background-color: #f1b24a;
  padding: 90px 20px 40px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.banner_description {
  margin-bottom: 50px;
}


.faq-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: -100px;
  position: relative;
  z-index: 3;
}

.faq-tab {
  text-align: center;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);

}

.faq-tab {
  position: relative;
}

.tab_arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

.tab_arrows {
  filter: invert(100%);
  box-shadow: 2px 2px 2px 2px rgba(187, 19, 19, 0.05);
}

.faq_img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  filter: invert(50%);
}

.faq_icon {
  color: #f1b24a;
  font-size: 26px;
}

.faq-tab p {
  font-size: 0.9rem;
  color: #666565;
}

.faq-tab.active .faq_img {
  filter: invert(10%);
}

.faq-tab.active p {
  color: black;
}


.faq-tab:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.faq-accordion {
  margin-top: 40px;
}

.faq-item {
  /* background-color: rgba(0, 0, 0, 0.07); */
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  padding: 20px;
  transition: 0.3s;
  background-color: #FFF;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.faq-item.active {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5a5959
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding-top: 10px;
}

/* Make sure the 4 tabs fit nicely on mobile too */
@media (max-width: 768px) {
  .faq-tabs {
    grid-template-columns: repeat(4, 1fr);
    gap: -40px;
  }

  .faq-tab img {
    width: 25px;
    height: 25px;
  }

  .faq-tab p {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .faq-tabs {
    grid-template-columns: repeat(4, 1fr);
  }
}




.scroll-up-btn {
  position: fixed;
  bottom: 40px;
  position: fixed;
  right: 1rem;
  /* background-color: #023f1b; */
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1000;
  padding: .4rem;
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .3);
  transition: .4s;
  border-radius: 4px;
}

.scroll-up-btn img {
  width: 20px;
  height: 20px;
  filter: invert(10%);
}

.scroll-up-btn:hover {
  background-color: #9DC88D;
}






/* CONTACT FORM SECTION */

.contact-section {
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact-headline {
  color: #164A41;
  margin-bottom: 10px;
}

.contact-intro {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 40px;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea ,
.contact-form select {
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus 
.contact-form select:focus {
  border-color: #164A41;
}

.contact-form textarea{
  min-height: 120px;
  resize: vertical;
}


.submit-btn {
  background-color: #164A41;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.submit-btn:hover {
  background-color: #0e332d;
}

/* Loader */
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid #9DC88D;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Success checkmark */
.checkmark {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Popup styles */
.popup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #fff;
  border-left: 5px solid;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 300px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.5s forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-success {
  border-color: #4BB543;
}

.popup-error {
  border-color: #FF4C4C;
}

.popup p {
  margin-bottom: 15px;
  color: #333;
}

.popup button {
  background: transparent;
  border: 1px solid #333;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
}

.popup button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .contact-headline {
    font-size: 2rem;
  }

  .popup {
    width: 90%;
    right: 5%;
    bottom: 20px;
  }
}









/* FOOTER */

.footer{
  background-color: rgba(0, 0, 0, 0.932);
  color: whitesmoke;
}

.footer_container {  
  row-gap: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 3rem;
}

.footer_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  color: white;
}

.footer_list,
.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer_link {
  /* color: var(--text-color); */
  color: white;
}

.footer_link:hover {
  /* color: var(--title-color); */
  color: rgb(248, 235, 211);
}

.footer_social {
  display: flex;
  column-gap: 1rem;
}

.footer_social-link {
  font-size: 1.25rem;
  color: snow;
}

.footer_social-link:hover {
  color: rgb(248, 235, 211);
}

.footer_copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: white;
}